DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=sqlite:///db.sqlite3

LICHESS_CLIENT_ID=your-lichess-app-client-id
FRONTEND_URL=http://localhost:5173
OAUTH_REDIRECT_URI=http://localhost:5173/auth/callback
