{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Discovered Check</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="container">
        <div id="sidebar">
            {% include 'components/sidebar.html' %}
            <script src="{% static 'js/sidebar.js' %}"></script>
        </div>
        <div id="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>