<div id="bug-modal" class="modal">
    <div class="modal-content">
        <button class="modal-close-button" onclick="toggleModal('bug-modal')">
            &times;
        </button>
        <div class="modal-header">
            <div class="modal-title">Bug Report/Feature Request</div>
        </div>
        <div class="modal-body">
            <div class="tab">
                <button id="bug-report-tab" class="tablinks" onclick="openTab(event, 'bug-report')">Bug Report</button>
                <button id="feature-request-tab" class="tablinks" onclick="openTab(event, 'feature-request')">Feature Request</button>
            </div>
            <div id="bug-report" class="tabcontent">
                <p>Content for bug report</p>
            </div>
            <div id="feature-request" class="tabcontent">
                <p>Content for feature request</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-button secondary-button" onclick="toggleModal('bug-modal')">Cancel</button>
            <button type="submit" class="modal-button primary-button">Submit</button>
        </div>
    </div>
</div>