<div id="upload-modal" class="modal">
    <div class="modal-content">
        <button class="modal-close-button" onclick="toggleModal('upload-modal')">
            &times;
        </button>
        <div class="modal-header">
            <div class="modal-title">Upload Data</div>
        </div>
        <div class="modal-body">
            <div class="tab">
                <button id="api-tab" class="tablinks" onclick="openTab(event, 'api')">API</button>
                <button id="pgn-tab" class="tablinks" onclick="openTab(event, 'pgn')">PGN</button>
            </div>
            <div id="api" class="tabcontent">
                <div class="input-row">
                    <label for="platform-select">Platform:</label>
                    <select id="platform-select">
                        <option value="chess.com">chess.com</option>
                        <option value="lichess.org" disabled>lichess.org</option>
                    </select>
                </div>
                <div class="input-row">
                    <label for="username-input">Username:</label>
                    <input type="text" id="username-input" placeholder="username">
                </div>
                <div class="date-input-container">
                    <div class="input-row">
                        <label for="start-date">Start Date:</label>
                        <input type="date" id="start-date" class="date-input">
                    </div>
                    <div class="input-row">
                        <label for="end-date">End Date:</label>
                        <input type="date" id="end-date" class="date-input">
                    </div>
                </div>
            </div>
            <div id="pgn" class="tabcontent">
                <p>Content for pgn upload</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-button secondary-button" onclick="toggleModal('upload-modal')">Cancel</button>
            <button type="submit" class="modal-button primary-button">Fetch Data</button>
        </div>
    </div>
</div>