<div id="sidebar-container">
    <div class="sidebar-card">
        <div class="sidebar-card-container">
            <div class="sidebar-card-icon"></div>
            <div class="sidebar-card-label">
                <p>Overview</p>
            </div>
        </div>
    </div>
    <div class="sidebar-card">
        <div class="sidebar-card-container">
            <div class="sidebar-card-icon"></div>
            <div class="sidebar-card-label">
                <p>Openings</p>
            </div>
        </div>
    </div>
    <div class="sidebar-card">
        <div class="sidebar-card-container">
            <div class="sidebar-card-icon"></div>
            <div class="sidebar-card-label">
                <p>Tactics</p>
            </div>
        </div>
    </div>
    <div class="sidebar-card">
        <div class="sidebar-card-container">
            <div class="sidebar-card-icon"></div>
            <div class="sidebar-card-label">
                <p>Timing</p>
            </div>
        </div>
    </div>
</div>