<div id="sidebar-container">
    <a href="{% url 'dashboards:overview' %}">
        <div class="sidebar-card">
            <div class="sidebar-card-container">
                <div class="sidebar-card-icon"><i class='fa-solid fa-chart-simple'></i></div>
                <div class="sidebar-card-label">
                    <p>Overview</p>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'dashboards:openings' %}">
        <div class="sidebar-card">
            <div class="sidebar-card-container">
                <div class="sidebar-card-icon"><i class='fa-solid fa-book'></i></div>
                <div class="sidebar-card-label">
                    <p>Openings</p>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'dashboards:tactics' %}">
        <div class="sidebar-card">
            <div class="sidebar-card-container">
                <div class="sidebar-card-icon"><i class='fa-solid fa-puzzle-piece'></i></div>
                <div class="sidebar-card-label">
                    <p>Tactics</p>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'dashboards:time' %}">
        <div class="sidebar-card">
            <div class="sidebar-card-container">
                <div class="sidebar-card-icon"><i class='fa-solid fa-clock'></i></div>
                <div class="sidebar-card-label">
                    <p>Time</p>
                </div>
            </div>
        </div>
    </a>
    <div class="spacer"></div>
    <div id="sidebar-footer">
        <i id="bug-report" class="fa-solid fa-bug" title="Report a bug, provide feedback, and/or request a new feature"></i>
        <i id="get-help" class="fa-solid fa-question" title="View the help modal for assistance with the app"></i>
    </div>
</div>