body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: white;
}

#navbar {
    flex-grow: 0;
    flex-shrink: 0;
    height: 3vh;
    width: 100vw;
    overflow: hidden;
    background-color: #212529;
}

#navbar-container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
}

#logo {
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
}

#menu {
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    width: 10vw;
    color: white;
}

#content {
    display: flex;
    flex-flow: row nowrap;
}

#sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    height: 97vh;
    min-width: 10vw;
    max-width: 200px;
    overflow: hidden;
    background-color: red;
}

#canvas {
    flex-grow: 1;
    flex-shrink: 0;
    height: 97vh;
    overflow: hidden;
    background-color: beige;
}